.detailBoardContainer{
    padding: 0 19.2vw;
    display: flex;
    flex-direction: column;
    
    row-gap: 1rem;
}

.detailBoardImage{
    margin-top: 40px;
    margin-bottom: 40px;
    height: 55vh;
    border-radius: 20px;
}

.detailBoardHeader{
    padding-bottom: 30px;
    border:solid;
    border-width: 1.5px;
    border-color: #cecece;
    border-top: none;
    border-right: none;
    border-left: none;
}

.detailBoardTag{
    padding-right: 10px;
    color: #1c8cc9;
}

.detailBoardTitle{
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline-block;
    font-weight: bold;
    font-size: x-large;
}

.joinBtn{
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    float:right;
    color:#1c8cc9;
    border:solid;
    border-width: 1px;
    border-color: #1c8cc9;
    background-color: white;
    border-radius: 5px;
}

.ownerData{
    margin-right: 10px;
}

.detailBoardSubTitle{
    font-size: large;
    font-weight: bold;
}

.introContents{
    margin: 10px;
    padding-bottom: 30px;
}

.methodContents{
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    background-color: #d7effb;
    border-radius: 8px;
}

.challengeDetailContents{
    margin-top: 50px;
    margin-bottom: 80px;
}
