.boardContainer {
    display: flex;
    flex-direction: column;
    padding: 2vw 19.2vw;

    row-gap: 1.8rem;
    column-gap: 1.8rem;
}

.firstContainer {
    display: flex;
    row-gap: 1.8rem;
    column-gap: 1.8rem;
}

.successWrapper {
    width: 25%;
}

.recordWrapper {
    width: 75%;
}

.confirmWrapper {
    width: 50%;
}