.boardContainer {
    display: flex;
    flex-direction: column;
    padding: 2vw 19.2vw;

    row-gap: 2rem;
    column-gap: 1.8rem;
}

.bodyContainer {
    display: flex;
}

.navigatorContainer {
    width: 13rem;
    font-size: large;

    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    p {
        font-family: "AppleSDGothicNeoR" !important;
    }
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0.5rem;
}

.letterContainer {
    width: 100%;
}

.clicked {
    color: #1c8cc9;
}

.writeButton {
    width: 6.5rem;
    height: 2.5rem;
    background-color: white;
    color: #1c8cc9;
    border: 2px solid #1c8cc9;
    border-radius: 10px;
    font-size: 0.8rem;

    background: {
        image: linear-gradient(45deg, #1c8cc9 50%, transparent 50%);
        position: 100%;
        size: 400%;
    }

    transition: 500ms ease-in-out;

    &:hover {
        background-position: 0;
        color: white;
    }
}