.boardContainer {
    display: flex;
    flex-direction: column;
    padding: 2vw 19.2vw;

    row-gap: 2rem;
    column-gap: 1.8rem;
}

.bodyContainer {
    display: flex;
}

.navigatorContainer {
    width: 13rem;
    font-size: large;

    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    p {
        font-family: "AppleSDGothicNeoR" !important;
    }
}

.letterContainer {
    width: 100%;
}

.clicked {
    color: #1c8cc9;
}