.bodyContainer {
    display: flex;
    flex-direction: column;
    row-gap: 0.8vmin;
    width: 14.4vw;
}

.logoImage {
    width: 14vw;
    height: 17vh;
    border-radius: 12px;
    object-fit: cover;

    margin: 0;
}

.boardContainer {
    padding: 0 19.2vw;
    display: flex;
    flex-direction: column;
}

.titleContainer {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-size: 1.2rem;
        font-family: "AppleSDGothicNeoR";
    }
}

.arrayContainer {
    display: flex;
    align-items: center;
    column-gap: 0.3vw;

    p {
        font-size: small;
        font-family: "AppleSDGothicNeoL";
    }
}

.tagContainer {
    display: flex;
    column-gap: 0.3rem;
}

.challengeWrapper {
    display: flex;
    flex-direction: column;
}


.challengeContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2rem;
}

.challengeTag {
    background-color: #e6e6e6;
    padding: 3px 7px;
    color: #666666;
    font-size: small;
    border-radius: 8px;
}

.challengeName {
    color: #000000;
    margin: 0;
}

.moreButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 3rem;    
    background-color: #1c8cc9;
    margin: 3rem 0 0 0;

    p {
        font-size: small;
        color: white;
    }
}

.headerContainer {
    display: flex;
    flex-direction: column;

    row-gap: 0.6rem;
}

.buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}