.boardContainer {
    padding: 0 19.2vw;
    margin: 1vw 0 3vw 0;
}

.titleContainer {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5vmin;

    p {
        font-size: 1.2rem;
        font-family: "AppleSDGothicNeoR";
    }
}

.arrayContainer {
    p {
        font-size: small;
    }
}

.componentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 1rem;
    row-gap: 0.8rem;
}

.componentWrapper {
    width: 49%;

    @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
            order: calc(2 * #{$i} - 1);
        }
    }

    @for $i from 5 through 8 {
        &:nth-child(#{$i}) {
            order: calc(2 * (#{$i} - 4));
        }
    }
}

.hallContainer {
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
}

.pointContainer {
    width: 5rem;
    display: flex;
    justify-content: flex-end;

    font-size: 1rem;
    font-weight: bold;
    font-family: "AppleSDGothicNeoM" !important;
    color: #1c8cc9;
}