.textBox{
    justify-content: left;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 1.3vw;
    button{
        display: flex;
    }
}
.board{
  
 }

 .board_center{
    display: flex;
    flex-direction: column;
    border:solid 0.1vw #c8e0f3;
    margin-bottom: 2vh;
    width: 50vw;
   }

.text_button_center{
    display: flex;
    align-items: center;
    flex-direction: row ;
    justify-content: space-between;
    width: 50vw;
    height: 20vh;
    margin-bottom: 2vh;
    img{
        width: 18vw;
        height: 18vh;
        object-fit: cover;
        margin-left: 2vw;
    }
}

.button_interval{
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
}
.fullscreen{
    display: flex;
    flex-direction: column;
}
.auth_button {
    align-items: center;
    display: flex;
    justify-content: center;
    button{
        width: 5vw;
        height: 5vh;
        justify-content: center;
        align-items: center;
        margin-left: 1vw;
    }
}
.list{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    height:20vh;
    margin-bottom: 2vh;
    img{
      width: 18vw;
      height: 18vh;
      object-fit: cover;
      margin-left: 2vw;
    }
  }
  .group_button{
    width: 8vw;
    height: 4vh;
    justify-content: center;
    font-size: 1.5vh;
  }
  .group_center{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
  }