
.flex{
  display: flex;
  flex-basis: 200px;
  flex-direction: row;
  
  
  
}
.flex_container{
  display:flex;
  flex-basis: 150px;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  display: flex;
  border-style: solid;
}