.list{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  height:20vh;
  margin-bottom: 2vh;
}
.group_button{
  width: 8vw;
  height: 4vh;
  justify-content: center;
  font-size: 1.5vh;
}
.group_center{
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.group_title{
  display: flex;
  flex-direction: column;
  text-align: center;
}
img{
  width: 18vw;
  height: 18vh;
  object-fit: cover;
  margin-left: 2vw;
}